body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono';
    line-height: 1.6;
    text-align: center;
    background-color: #121212;
    color: #e0e0e0;
}

h1, h2, h3 {
    color: #ffffff;
}

p {
    color: #cccccc;
}

a {
    color: #bb86fc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

button {
  background-color: #bb86fc;
  color: #121212;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #985eff;
}

/* Card / project boxes */
.card {
  background-color: #1f1f1f;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}